@import "tailwindcss";

@theme {
  --color-lightgray: #e6e6e4;
  --color-pureblack: #000000;
  --color-purewhite: #ffffff;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-display: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-league: "League Gothic", sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }
}
